html {
  background-color: #849D8F;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /* colors */

  --background-basic: #849D8F;
  --background-second: #8996A6;
  --background-third: #9D8B84;

  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-white-dimmed: rgba(255, 255, 255, 0.2);
  --basic-neutral: #F8F7F4;
  --basic-dark: #323232;
  --basic-dark-dimmed: #5A5A5A;

  --additional-extra-dark: #231F20; /* hit sign */
  --additional-neutral-light: #D3D3D2; /* header input border */
  --additional-neutral-dark: #999999; /* input placeholder*/
  --additional-light: #FEFEFE; /* contacts section background */

  --accent: #E84D37;
  --accent-light: #D07058;
  --accent-dimmed: #F6B5A5;
  --accent-extra-dimmed: #FBDED7;

  --special-dark: rgba(178, 178, 178, 0.52); /* modal input border */
  --special-bright: #1E90FF;
  --special-bright-dimmed: rgba(46, 136, 228, 0.52);
  --special-accent: #FFBC9E; /* catalog link hover and active */
  --special-extra-dark: #2C2829; /* close button in cart*/
  --special-neutral-dark: #ABABAB; /* price filter circle*/
  --special-neutral: #CACAC7; /* cart bottom line*/

  --dark-shadow: #696969;


/* gradients */

  --accent-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

/* General */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--background-basic);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font: inherit;
  border: none;
  text-align: center;
  /* background-color: linear-gradient(180deg, #F26843 0%, #E74A35 100%); ??? DOESN'T WORK*/
  background-color: var(--accent-light);
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 700;
}

.form {
  background-color: var(--basic-neutral);
  border-radius: 4px;
}

.button:hover {
  background-color: var(--accent-extra-dimmed);
}
.button:active {
  background-color: var(--accent);
}

.input[type="text"],
.input[type="email"],
.input[type="password"],
.input[type="search"] {
  font:inherit;
  line-height: 20px;
  border: 1px solid var(--special-dark);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.input:hover {
  border-width: 2px;
  outline: none;
}

.input:focus {
  border: 2px solid var(--special-bright-dimmed);
  outline: none;
}

/* ??? Поле с введенными данными */


/* HEADER */
/* Navigation */

.site-navigation,
.catalog-navigation {
  list-style: none;
}

.site-nav-link {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
}

.site-nav-link:hover,
.site-nav-link:active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  border-radius: 26px;

}

.site-nav-link:active {
  box-shadow: inset 0px 2px 1px var(--dark-shadow);

}

.site-nav-link.current {
  background-color: var(--accent-light);
}

.catalog-navigation {
  background-color: var(--basic-neutral);
  border-radius: 4px;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
}

.catalog-navigation li:hover {
  background-color: var(--accent-extra-dimmed);
}

.catalog-navigation li:active{
  background-color: var(--accent-dimmed);
}

.catalog-navigation .current {
  background-color: var(--accent-light);
}

.catalog-navigation .catalog-new {
  font-weight: 700;
  line-height: 18px;
}

.user-link {
  color: var(--basic-white);
  background-color: var(--basic-white-dimmed);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 20px;

}

.user-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.search .user-link {
  border-radius: 50%;
}

.form-login a {
  color: var(--basic-dark);
  font-size: 13px;
  line-height: 15px;
}

.form-login a:hover,
.form-login a:active {
  color: var(--accent);
}

.open-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.open-time a {
  color: inherit;
  font-size: 22px;
  line-height: 24px;
}

/* MAIN */
/* Promo: Order Two */

.order-two-list {
  list-style: none;
  text-align: center;
}

.order-two-item p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.order-two-item a {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

/* Promo: Cards */

.promo-list {
  list-style: none;
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-item p {
  font-size: 18px;
  font-weight: bold;
}

.promo-chocolate {
  background-color: #6E4F46;
}

.promo-raspberry {
  background-color: #A83653;
  ;
}

/* Hits */

.catalog-list {
  list-style: none;
}

.catalog-item:hover {
  background-color: var(--basic-white-dimmed);
  border-radius: 4px;
}

.catalog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-title a {
  color: inherit;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item span {
  font-size: 30px;
  line-height: 45px;
}

/* Features */

.features {
  color: var(--basic-dark);
  background-color: #F2E7CE;
}

.features-lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
}



/* Blog */

.blog-article {
  color: var(--basic-dark);
  background-color: #F4E7EB;
  ;
}

.blog-article p {
  font-weight: 500;
}

.blog-article a {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  text-decoration: underline; /* ??? OR BORDER BOTTOM - странное подчеркивание в макете */
}

/* Subscription */

.subscription-lead {
  color: var(--basic-dark-dimmed);
}

/* Contacts */

.contacts {
  background-color: var(--additional-light);
  border-radius: 19px;
}

.contacts-info {
  color: var(--basic-dark);
  font-weight: 14px;
  line-height: 20px;
}

.contacts-address,
.contacts-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  color: var(--basic-dark);
}

/* FOOTER */
/* Socials */

.social-list,
.docs-list {
  list-style: none;
}

.docs-link {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: inherit;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.docs-link:hover,
.docs-linl:active {
  color: var(--special-accent)
}
