/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /* colors */

  --background-basic: #849D8F;
  --background-second: #8996A6;
  --background-third: #9D8B84;

  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-white-dimmed: rgba(255, 255, 255, 0.2);
  --basic-neutral: #F8F7F4;
  --basic-dark: #323232;
  --basic-dark-dimmed: #5A5A5A;

  --additional-extra-dark: #231F20; /* hit sign */
  --additional-neutral-light: #D3D3D2; /* header input border */
  --additional-neutral-dark: #999999; /* input placeholder*/
  --additional-light: #FEFEFE; /* contacts section background */

  --accent: #E84D37;
  --accent-light: #D07058;
  --accent-dimmed: #F6B5A5;
  --accent-extra-dimmed: #FBDED7;

  --special-dark: rgba(178, 178, 178, 0.52); /* modal input border */
  --special-bright: #1E90FF;
  --special-bright-dimmed: rgba(46, 136, 228, 0.52);
  --special-accent: #FFBC9E; /* catalog link hover and active */
  --special-accent-dimmed: rgba(255, 188, 158, 0.3); /* link border hover */
  --special-extra-dark: #2C2829; /* close button in cart*/
  --special-neutral-dark: #ABABAB; /* price filter circle*/
  --special-neutral: #CACAC7; /* cart bottom line*/

  /* shadows */

  --dark-shadow: #696969;
  --button-active-shadow: #942718;
  --button-hover-shadow: #AC1000;
  --button-shadow: rgba(85, 8, 0, 0.54);
  --button-big-shadow: rgba(172, 16, 0, 0.64);
  --button-text-shadow: rgba(160, 32, 11, 0.76);
  --price-text-shadow: rgba(49, 50, 53, 0.5);

  /* borders */

  --neutral-border: #CACAC7;


/* gradients */

  --accent-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --neutral-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

/* General */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--background-basic);
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  border: none;
  border-radius: 26px;
  background: var(--accent-gradient);
  box-shadow: 0 2px 2px var(--button-shadow);
  font: inherit;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 700;
  text-shadow: 0px 2px 5px var(--price-text-shadow);
}

.button-order-two {
  border-radius: 70px;
  box-shadow: 0px 2px 2px var(--button-big-shadow);
}

.button:hover {
  background: var(--neutral-gradient), var(--accent-gradient);
  box-shadow: 0px 1px 2px var(--button-hover-shadow);
}

.button-order-two:hover {
  box-shadow: 0px 2px 2px var(--button-hover-shadow);
}

.button:active {
  background: var(--accent-gradient);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
}

.form {
  background-color: var(--basic-neutral);
  color: var(--basic-dark);
  border-radius: 4px;
}

.input[type="text"],
.input[type="email"],
.input[type="password"],
.input[type="search"] {
  font: inherit;
  line-height: 20px;
  border: 1px solid var(--special-dark);
  border-radius: 4px;
  background-color: var(--basic-white);
}

.input:hover {
  border-width: 2px;
}

.input:focus {
  border: 2px solid var(--special-bright-dimmed);
  outline: transparent;
}

/* ??? Поле с введенными данными */

/* HEADER */

.main-header {
  margin-top: 10px;
}

/* Navigation */

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 54px;
  margin-right: 10px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
}

.site-navigation li {
  margin-bottom: 10px;
}

.site-nav-link {
  margin-right: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  border-radius: 26px;
}

.site-nav-link:not(.current):hover,
.site-nav-link:not(.current):active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  border-radius: 26px;
}

.site-nav-link:not(.current):active {
  box-shadow: inset 0px 2px 1px var(--dark-shadow);
}

.site-nav-link.current {
  background-color: var(--accent-light);
}

.catalog-navigation {
  background-color: var(--basic-neutral);
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
}

.catalog-navigation li:not(.current):hover {
  background-color: var(--accent-extra-dimmed);
}

.catalog-navigation li:not(.current):active{
  background-color: var(--accent-dimmed);
}

.catalog-navigation .current {
  background-color: var(--accent-light);
}

.catalog-navigation .catalog-new {
  font-weight: 700;
  line-height: 18px;
}

/* User Navigation */

.user-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-link {
  color: var(--basic-white);
  background-color: var(--basic-white-dimmed);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 10px;
}

.search-link:hover,
.login-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.search-link {
  border-radius: 50%;
}

.form-search {
  display: none;
}

/* Cart */

.form-cart {
  display: none;
}

.cart-with-items {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.table-cart {
  font-size: 13px;
  line-height: 16px;
}

.table-cart img {
  border-radius: 50%;
}

.price-kilo {
  color: var(--special-neutral-dark);
}

.item-weight {
  text-align: right;
}

.cart-total {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

/* Login */

.form-login {
  display: none; /* NONE*/
}

.form-login a {
  color: var(--basic-dark);
  font-size: 13px;
  line-height: 15px;
}

.form-login a:hover,
.form-login a:active {
  color: var(--accent);
}

/* Open */

.open-time {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.open-time a {
  color: inherit;
  font-size: 22px;
  line-height: 24px;
}

/* MAIN */

.main-index-container {
  display: grid;
  row-gap: 40px;
}

/* Promo: Order Two */

.order-two {
  padding-top: 275px;
}

.order-two-list {
  list-style: none;
  text-align: center;
  margin: 0;
}

.order-two-item p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 27px;
}

.order-two-item a {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

/* Promo: Cards */

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo-item {
  border-radius: 16px;
  padding: 16px 22px 22px 16px;
  display: flex;
  flex-direction: column;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-item p {
  margin: 0;
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: bold;
}

.promo-item .button {
  align-self: flex-end;
  padding: 15px 22px 16px;
}

.promo-chocolate {
  background-color: #6E4F46;
}

.promo-raspberry {
  background-color: #A83653;
}

/* Hits Catalog*/

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  row-gap: 20px;
}

.page-catalog {
  margin-bottom: 80px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 20px; */
}

.catalog-item:hover {
  background-color: var(--basic-white-dimmed);
  border-radius: 4px;
}

.catalog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  order: 3;
  flex-grow: 1;
}

.item-pic {
  border-radius: 50%;
}

.hits-icon {
  align-self: flex-start;
}

.catalog-item-title a {
  color: inherit;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
  margin: 0;
  align-self: flex-start;
}

.catalog-item span {
  font-size: 30px;
  line-height: 45px;
}

.quick-view {
  order: 4;
}

/* Features */

.features {
  color: var(--basic-dark);
  background-color: #F2E7CE;
  border-radius: 16px;
  padding: 24px 23px 36px 20px;
}

.features-lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

/* Features & Blog */

.blog-and-subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

/* Blog */

.blog-article {
  color: var(--basic-dark);
  background-color: #F4E7EB;
  border-radius: 16px;
  padding: 23px 250px 0 20px;
}

.blog-article p {
  font-weight: 500;
  margin: 0;
}

.blog-article a {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  text-decoration: underline;
  margin: 0;
}

/* Subscription */

.subscription {
  background-color: rgba(46, 136, 228, 0.52);
  border-radius: 16px;
  padding: 5px;
}

.form-subscription {
  padding: 30px 20px 35px;
  border-radius: 16px;

}

.subscription-lead {
  color: var(--basic-dark-dimmed);
  margin: 0;
  margin-bottom: 47px;
}

.subscription-confirm {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.input-subscription {
  flex-grow: 1;
  margin-right: 10px;
  line-height: 24px;
}



/* Contacts */

.map {
  height: 430px;
}

.contacts {
  background-color: var(--additional-light);
  border-radius: 19px;
  margin-left: auto;
  align-self: center;
  padding: 31px 25px;
}

.contacts-container {
  height: 100%;
  display: flex;
}

.contacts-info {
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 20px;
}

.contacts-info p {
  margin: 0;
  margin-bottom: 31px;
}

.contacts-address,
.contacts-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  color: var(--basic-dark);
}

/* FOOTER */
/* Socials */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.page-footer {
  border-top: 1px solid var(--basic-white-dimmed);
  padding-top: 18px;
}

.social-list {
	list-style: none;
  margin: 0;
	padding: 0;
  width: 168px;
  display: flex;
}

.social-list a {
	color: var(--basic-white);
	text-decoration: none;
	font-size: 13px;
	line-height: 13px;
  margin-right: 12px;
}

.docs-list {
	list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 18px;
  justify-self: center;
}

.docs-link {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid var(--basic-white-dimmed);
}


.footer-copyright {
  font-size: 12px;
	line-height: 18px;
	max-width: 190px;
}

.footer-copyright a {
  color: inherit;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.docs-link:hover,
.docs-linl:active {
  color: var(--special-accent);
  border-color: var(--special-accent-dimmed);
}

 /* INNER PAGES */

 /* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 9px;
}


.breadcrumbs a {
  color: var(--basic-white);
  margin-right: 8px;
}

.breadcrumbs a:not(.current):hover,
.breadcrumbs a:not(.current):active{
  color: var(--special-accent);
}

/* Title */

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 29px;
}

/* Filter */

.filter {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 40px;
  outline: 2px solid greenyellow;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter fieldset {
  border: none;
}

.filter-wrapper {
  background-color: var(--basic-white-dimmed);
  border-radius: 20px;
}

.filter-select {
  color: inherit;
  background-color: inherit;
  font: inherit;
  border-radius: 20px;
}

.filter-select:hover {
  color: var(--basic-dark);
}

.filter-radio,
.filter-checkbox {
  display: flex;
  justify-content: space-between;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-white-dimmed);
  border: 2px solid var(--basic-white);
  text-align: center;
  border-radius: 20px;
}

.filter-button:hover,
.filter-button:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px var(--dark-shadow);
  border: none;
}

/* Pagination */

.pagination-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  display: flex;
  justify-content: flex-end;
}

.pagination-list li {
  margin-left: 20px;
}

.pagination-list .previous {
  padding-right: 4px;
}

.pagination-list .next {
  padding-left: 6px;
}


.pagination-item {
  color: var(--basic-white);
}

.pagination-item:hover {
  background-color: var(--basic-white-dimmed);
}

.pagination-item.current,
.pagination-item:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.pagination-icon {
  color: inherit;
}

.pagination-icon.disabled {
  color: var(--basic-white-dimmed);
}
